# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
env/

# OS and project-specific files
.DS_Store
.vscode
.idea
*.sqlite3