{% extends "base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/home.css' %}">
{% endblock %}

{% block content %}
    <section class="hero-section">
        <div class="hero-content">
            <h1>Descubre tus productos favoritos.</h1>
            <p>Explora el mundo de productos de alta calidad, desde electrónica hasta moda.</p>
            <div class="hero-buttons">
                <a href="{% url 'Products:catalog' %}" class="btn primary-btn">Explore el Catálogo</a>
                <a href="{% url 'Products:product_add' %}" class="btn secondary-btn">Agregar un Nuevo Producto</a>
            </div>
        </div>
        
    </section>
{% endblock %}