{% extends 'base.html' %}

{% block title %}Platzi Store - Inicio{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% block content %}
<div class="container hero-container">
    <div class="hero-content">
        <h1>Aleja's Store</h1>
        <p class="subtitle hero-subtitle">Una experiencia de compra moderna y sofisticada</p>
        <div class="buttons-container">
            <a href="{% url 'consult_products' %}" class="btn btn-primary home-button">
                Explorar Productos
            </a>
            <a href="{% url 'create_product' %}" class="btn btn-secondary home-button">
                Publicar Producto
            </a>
        </div>
    </div>
</div>
{% endblock %}